:root {
	--drkGreyBlue: hsl(217, 19%, 35%);
	--desatDrkBlue: hsl(214, 17%, 51%);
	--greyBlue: hsl(212, 23%, 69%);
	--ltgreyBlue: hsl(210, 46%, 95%);
	--ff: "Manrope", sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
