:root {
	--drkGreyBlue: hsl(217, 19%, 35%);
	--desatDrkBlue: hsl(214, 17%, 51%);
	--greyBlue: hsl(212, 23%, 69%);
	--ltGreyBlue: hsl(210, 46%, 95%);
	--ff: "Manrope", sans-serif;
	--fs: 13px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--ltGreyBlue);
	font-family: var(--ff);
	font-size: var(--fs);
	color: var(--desatDrkBlue);
}

.container {
	width: 330px;
	height: 510px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
}

/* Hero */
.hero {
	width: 100%;
	height: 200px;
}

.hero__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* Main Contents */
main {
	padding: 40px 30px 20px;
}

.title {
	font-size: 1.05rem;
	margin-bottom: 15px;
	color: var(--drkGreyBlue);
}

.title-desc {
	letter-spacing: 0.3px;
	line-height: 1.61;
}

.author {
	padding-inline: 32px;
	display: flex;
	align-items: center;
}

.author-img {
	width: 43px;
	height: 43px;
	margin-right: 15px;
	border-radius: 50%;
}

.author-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.author-info__name {
	font-weight: 700;
	color: var(--drkGreyBlue);
}

.author-info__date {
	letter-spacing: 0.3px;
	color: var(--greyBlue);
}

.share-icon-btn {
	width: 32px;
	height: 32px;
	background-color: var(--ltGreyBlue);
	border: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.share-icon {
	margin-bottom: 2px;
}

/* Share Active Mobile */
.share-active-mobile {
	height: 65px;
	padding-inline: 32px;
	display: flex;
	align-items: center;
	background-color: var(--drkGreyBlue);
	display: none;
}

.share-active-mobile p {
	margin-right: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: var(--greyBlue);
}

.sns-icons {
	flex-grow: 1;
}

.sns-icons img {
	margin-right: 15px;
}

.share-icon-btn.active {
	background-color: var(--desatDrkBlue);
}

.share-icon.active {
	filter: brightness(0) invert(1);
}

.share-active-desktop {
	display: none;
}

/* Footer */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Desktop Version */
@media screen and (min-width: 1000px) {
	.container {
		width: 730px;
		height: 280px;
		flex-direction: row;
		align-items: flex-start;
	}

	.hero {
		height: 100%;
	}

	.hero__img {
		object-position: 0 50%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	}

	main {
		padding-inline: 40px;
	}

	.title {
		font-size: 1.15rem;
		letter-spacing: 1px;
	}

	.author {
		padding-inline: 40px;
		padding-bottom: 30px;
	}

	/* Share Active Desktop */
	.share-active-desktop {
		width: 248px;
		height: 55px;
		padding-inline: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--drkGreyBlue);
		border-radius: 10px;
		position: absolute;
		right: -70px;
		top: 48%;
		display: none;
	}

	.share-active-desktop::after {
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid var(--drkGreyBlue);
		border-bottom: 10px solid transparent;
		right: 47%;
		bottom: -20px;
	}

	.share-active-desktop p {
		margin-right: 20px;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: var(--greyBlue);
	}
	.sns-icons {
		flex-grow: 0;
	}
}
